html {
  height: 100%;
}

.chakra-progress__indicator {
  stroke-linecap: round;
}

.chakra-toast__inner {
  min-width: 0!important;
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg)
  }

  to {
      -webkit-filter: hue-rotate(-1turn)
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#chakra-toast-manager-top-right {
  margin-top: 65px;
  margin-right: 20px;
}